<footer>
    <span class="copyright">
        &copy; {{date format="YYYY"}} .Net Escapades All Rights Reserved. | Built with <a href="https://ghost.org/" target="_blank">Ghost</a>.
    </span>
</footer>
