{{!< default}} 
{{> material-cover}}
<div class="page page-index container-wrapper">
    <ol class="posts">
        <li class="card">
            <div class="card-body">
                <a href="https://www.slideshare.net/ManningBooks/aspnet-core-in-action-web-development-for-c-developers-91452068" title="link to ASP.NET Core in Action presentation">
                    <div class="card-content">
                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/8ZThu7LJcGYHoY" width="595" height="320" frameborder="0" marginwidth="0"
                            marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
                            allowfullscreen=""> </iframe>
                    </div>
                </a>
            </div>
        </li>
        {{#foreach posts}}
         {{> post-list-item }} 
        {{/foreach}}
    </ol>
</div>
{{pagination}}